h1 {font-family:verdana;}
h2 {font-family:verdana;}
h3 {font-family:verdana;}
h4 {font-family:verdana;}
p {font-family:verdana;}
body {font-family:verdana;}
div {font-family:verdana;}
input {font-family:verdana;}
option {font-family:verdana;}
select {font-family:verdana;}